.App {
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  margin-right: 8px;
  width: 60%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  margin-right: 8px; /* Add margin-right for spacing */
  cursor: pointer;
  font-size: 16px;
  background-color: #774caf;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #6f43a9;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

li div {
  flex: 1;
  /* background-color: #b53d3d; */
}
.icons {
  justify-content: center;
}

li div {
  flex: 1;
}

.icons svg {
  margin-left: 30px; /* Add margin to separate the icons */
}
.icons svg:hover{
  cursor: pointer;
}
